<html>

    <head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<!--<link href="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/css/bootstrap.css" rel="stylesheet"> -->
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!--<script src="/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-tooltip.js"></script>  -->
        <!--<script src="/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-popover.js"></script>-->
	<!--<link rel="stylesheet" href="/resources/demos/style.css">-->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
	</script>
    </head>

    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_icon "info" %}
    
    <script>
	function intersectionChanged() {
	    document.getElementById("refreshTypeId").value = "RefreshData";
	    document.getElementById("locationFormId").submit();
	}
	
	function signalChanged() {
	    document.getElementById("refreshTypeId").value = "RefreshData";
	    document.getElementById("locationFormId").submit();
	}
	
	function alertEmptyList(){
	    alert("")    
	}
    
	function submitToPlot() {
	    document.getElementById("refreshTypeId").value = "Plot";
	    document.getElementById("locationFormId").submit();	
	}
	
	function performanceChanged() {
	    //get html element (here is the select), by id, id is in element's <>
	    var selectedPerformance = document.getElementById("performanceSelectionId").value;
	    
	    var detectorNotNeededArray = ["capacity","greenDuration"];
	    var detectorHidden = (detectorNotNeededArray.indexOf(selectedPerformance) > -1);
	    
	    if (detectorHidden) {
		//get detector label by its id and change delector style, by change display to none or block (means hide or show)
		document.getElementById('detectorLabelId').style.display = "none";
		document.getElementById('detectorSelectionId').style.display = "none";
	    }
	    else {
		document.getElementById('detectorLabelId').style.display = "block";
		document.getElementById('detectorSelectionId').style.display = "block";
	    }
	    
	    var signalGroupNotNeededArray = ["greenDuration"];
	    var signalGroupHidden = (signalGroupNotNeededArray.indexOf(selectedPerformance) > -1);
	    
	    if (signalGroupHidden) {
		document.getElementById('signalGroupLabelId').style.display = "none";
	       document.getElementById('signalGroupSelectionId').style.display = "none";
	    }
	    else { 
		document.getElementById('signalGroupLabelId').style.display = "block";
	       document.getElementById('signalGroupSelectionId').style.display = "block";
	    }
	    
	}
    </script>
    <script>  
        $(function ()  {
	    $("#timezonetip").popover();  
        });  
    </script> 
    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();   
	});
    </script>
    
    <body onload="performanceChanged()">
    {# Navigate bar and a header #}
    <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="container-fluid">
	    <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Imanalyst</a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="nav navbar-nav">
		    <!--<li class="active"><a href="http://www.tutorialrepublic.com" target="_blank">Instruction</a></li>-->
		    <li><a href="http://www.peekfinland.fi/" target="_blank">About</a></li>
		    <li><a href="http://imtech.com/EN/Contacts-Nordic.html" target="_blank">Contact</a></li>
		</ul>
	    </div>
	</div>
    </nav>
    
    <div class="jumbotron">
	<div class="container-fluid">
	    <h1>Traffic Signal Analysis</h1>
	</div>
    </div>
    
    {# Menu #}
    <div class="row">
    <div class="col-sm-1 " ></div>
    <div class="col-sm-3 " >
     
    <form id="locationFormId" method="POST" action="{% url 'traffic:index'%}">{% csrf_token %}
        
        {# Select performance #}
    
	<label for="performance">Performance measures </label> 
	
	{# onchange means when select option is changed, we will call function performanceChanged() in javascript #}
	<select id="performanceSelectionId" name ="performance" class="form-control" onchange="performanceChanged()">
	    {% for measure in measuresList %}
		{% if measure == selectedPerformance %}
		    <option value= {{measure}} selected="selected"> {{measure}} </option> 
		{% else %}
		    <option value= {{measure}}> {{measure}} </option> 
		{% endif %}
	    {% endfor %}
	    performanceChanged()
	</select>
			
	{# Select intersection #}
	<p>
	<label for="location">Intersection </label>
	<select id="intersectionSelectionId" name="location" onchange="intersectionChanged()" class="form-control">
	{% for locationName in locationNameList %}
	    {% if locationName == selectedLocation %}
		<option value= {{locationName}} selected="selected"> {{locationName}} </option> 
	    {% else %}
		<option value= {{locationName}}> {{locationName}} </option> 
	    {% endif %}
	{% endfor %}
	</select> 
	</p>
	
	{# Selct signalGroup #}
	{% if not sgNameList  %}
	    <p> Sorry, there is no valid signalGroup configuration data in the selected intersection. Please choose other intersections. </p>
	{% else %}
	    <p>
	    <label id="signalGroupLabelId" for="signalGroup">signalGroup</label>
	    
	    <select id="signalGroupSelectionId" name="signalGroup" onchange="signalChanged()" class="form-control">
		{% for signalGroup in sgNameList %}
		    {% if signalGroup == selectedSgName %}
			<option value = {{signalGroup}} selected="selected">{{signalGroup}} </option>
		    {% else %}
			<option value = {{signalGroup}}> {{signalGroup}} </option>
		    {% endif %}
		{% endfor %}
	    </select>
	{% endif %}
	</p>
	
	
	{# Selct detector #}
	{% if sgNameList  %}
	    <p>
	    {% if not detectorList  %}
		<p> Sorry, there is no valid detector configuration data in the selected signal group. Please choose other signal group. </p>
	    {% else %}
		<label id="detectorLabelId" for="detector">detector</label>
		<select id="detectorSelectionId" name ="detector" class="form-control">
		{% for detector in detectorList %}
		    <option value = {{detector}}>{{detector}}</option>
		{% endfor %}
		</select>
	    {% endif %}
	    </p>
	{% endif %}
	
	                
	{#select datatime #}
	<br>
	<p> <label> Start datetime </label>
	    {% if startTimeString %}
		<input type="datetime-local" name="starttime" value={{startTimeString}}> 
	    {% else %}
		<input type="datetime-local" name="starttime" value="2015-07-10T18:00:00"> </p>
	    {% endif %}
	</p>	
	
	<p><label> End datetime </label>
	{% if endTimeString %}
	    {% if endTimeString > startTimeString %}
	        <input type="datetime-local" name="endtime" value={{endTimeString}}> </p>
	    {% else %}
	        <input type="datetime-local" name="endtime" value="2015-07-10T19:00:00"></p>
	        <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                   Enter end time later then start time 
                  </div>
	    {% endif %}
	{% else %}
	    <input type="datetime-local" name="endtime" value="2015-07-10T19:00:00"></p>
	{% endif %}
	
	<p>
	<a href="#" id="timezonetip"  data-toggle="popover" data-trigger="hover" title="" data-content="Please use timezone Europe/Helsinki" >
	<i class='glyphicon glyphicon-info-sign'></i></a>   
	</p>
	<!--<p>Date: <input type="text" name="startdate" id="datepicker"></p>-->
	
	
	{# submit button #}
	<br>
	<button onclick="submitToPlot()" class="btn btn-primary">
	{% bootstrap_icon "star" %} Submit
	</button>
	
	<input id="refreshTypeId" type="hidden" name="refreshType" value="">
	
    </form>
    </div>
    
    {# Plot result #}
    <div class="col-sm-5">
	{% load staticfiles %}
	<img src="{% static "traffic/plot.png" %}">    
	<br></br>
	Analysis result <a href="{% static "traffic/result.csv" %}">Download CSV File</a>   
    
    </div>
    
    </div>
    
    </body>
</html>