<!-- Imtech CONFIDENTIAL
__________________
 
 [2015] Imtech Traffic & Infra Oy
  All Rights Reserved.
 
 NOTICE:  All information contained herein is, and remains
 the property of Imtech Traffic & Infra Oy and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Imtech Traffic & Infra Oy
 and its suppliers and may be covered by Finland and Foreign Patents,
 patents in process, and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Imtech Traffic & Infra Oy. -->

<!DOCTYPE html>
<html>

    <head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="/static/jquery.datetimepicker.css"/>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js" async></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.collapsible/1.2/jquery.collapsible.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/jquery.noty.packaged.min.js"></script>
	<script type="text/javascript" src="/static/jquery.noty.theme.js"></script>
	
    </head>

    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %} 
    {% bootstrap_icon "info" %}
    
    <script>
	function intersectionChanged() {
	    document.getElementById("refreshTypeId").value = "RefreshData";
	    document.getElementById("locationFormId").submit();
	}
	
	function signalChanged() {
	    document.getElementById("refreshTypeId").value = "RefreshData";
	    document.getElementById("locationFormId").submit();
	}
	
	function alertEmptyList(){
	    alert("")    
	}

    // Array used as error collection
    var errors = [];

    // Validation configuration
    conf = {
      onElementValidate : function(valid, $el, $form, errorMess) {
         if( !valid ) {
          // gather up the failed validations
          errors.push({el: $el, error: errorMess});
         }
      }
    };

    // Optional language object
    lang = {};

	function submitToPlot() {
	    document.getElementById("refreshTypeId").value = "Plot";
        // reset error array
        errors = [];
        if( !$(this).isValid(lang, conf, false) ) {
            displayErrors( errors );
        } else {
            // The form is valid
            document.getElementById("locationFormId").submit();
	    }	
	}
	
	function performanceChanged() {
	    //get html element (here is the select), by id, id is in element's <>
	    var selectedPerformance = document.getElementById("performanceSelectionId").value;

	    function elementDisplay(elementHiddenCondition,elementLabelId,elementSelectionId) {
		if (elementHiddenCondition) {
		    //get detector label by its id and change delector style, by change display to none or block (means hide or show)
		    document.getElementById(elementLabelId).style.display = "none";
		    document.getElementById(elementSelectionId).style.display = "none";
		}
		else{
		    document.getElementById(elementLabelId).style.display = "block";
		    document.getElementById(elementSelectionId).style.display = "block";
		}
	    }
	    
	    var detectorNotNeededArray = ["Green_duration","Percent_of_green_duration","Active_green","Saturation_flow_rate",
	    "Comparison_volume","Comparison_arrival_on_green","Comparison_arrival_on_green_ratio","Green_time_in_interval"];
	    var detectorHidden = (detectorNotNeededArray.indexOf(selectedPerformance) > -1);
    
	    elementDisplay(detectorHidden,'detectorLabelId','detectorSelectionId')
	   
	    var signalGroupNotNeededArray = ["Green_duration","Percent_of_green_duration",
	    "Comparison_arrival_on_green","Comparison_arrival_on_green_ratio","Comparison_volume","Green_time_in_interval"];
	    var signalGroupHidden = (signalGroupNotNeededArray.indexOf(selectedPerformance) > -1);
	    
	    elementDisplay(signalGroupHidden,'signalGroupLabelId','signalGroupSelectionId')
  
	    var timeIntervalNotNeededArray = ["Green_duration","Percent_of_green_duration","Active_green","Queue_length","Saturation_flow_rate"];
	    var timeIntervalHidden = (timeIntervalNotNeededArray.indexOf(selectedPerformance) > -1);
	    
	    elementDisplay(timeIntervalHidden,'timeIntervalLabelId', 'timeIntervalSelectionId')
	    
	    var multipleDetectorsNotNeededArray = ["Green_duration","Percent_of_green_duration","Active_green","Saturation_flow_rate",
	    "Arrival_on_green_ratio","Volume","Maximum_capacity","Queue_length","Arrival_on_green_percent","Green_time_in_interval"];
	    var multipleDetectorsHidden = (multipleDetectorsNotNeededArray.indexOf(selectedPerformance) > -1);
	                                  
	    elementDisplay(multipleDetectorsHidden,'detectorMultipleLabelId', 'detectorMultipleSelectionId')
	}
	
	function showLocationMap() {
	    var selectedLocationForMap = document.getElementById("intersectionSelectionId").value;
	    document.getElementById('selectedLocatioForMapId').value = selectedLocationForMap;
	    document.getElementById("showMapFormId").submit();	
	}
	
    </script>
    <script>  
        $(function ()  {
	    $("#timezonetip").popover();  
        });  
    </script> 
    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
            var n = noty({type:'warning', text: 'Welcome!', dismissQueue: true});
	   });
    </script>

    <body onload="performanceChanged()">
    {# Navigate bar and a header #}
    <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="container-fluid">
	    <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Imanalyst</a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="nav navbar-nav">
		    <li><a href="http://www.peekfinland.fi/" target="_blank">About</a></li>
		    <li><a href="http://imtech.com/EN/Contacts-Nordic.html" target="_blank">Contact</a></li>
		</ul>
	    </div>
	</div>
    </nav>
    
    <div class="jumbotron">
	<div class="container-fluid">
	    <h1>Traffic Signal Analysis</h1>
	</div>
    </div>
    
    {# Menu #}
    <div class="row">
    <div class="col-sm-1 " ></div>
    <div class="col-sm-3 " >
    
    <form id="showMapFormId" method="POST" type="hidden" action="{% url 'traffic:maps' %}" target="_blank">{% csrf_token %}
	<input id="selectedLocatioForMapId" type="hidden" name="selectedLocatioForMap" value="">
    </form>
     
    <form id="locationFormId" method="POST" action="{% url 'traffic:index'%}">{% csrf_token %}
        
        {# Select performance #}
    
	<label for="performance">Performance measure </label> 
	<a href="{% url 'traffic:measuresinfo' %}"> 
	<i class='glyphicon glyphicon-book'></i></a>
	<a href="#" id="timezonetip-link"  data-toggle="popover" data-trigger="hover" title="" data-content="Saturation flow rate is the number of vehicles being able to cross the stop line;
	Green duration is green timing length per cycle for all signal groups; Queue length estimates the length of queue; Active green count the percent of active and passive green;
	Maximum capacity calculates the amount of vehicle being able to cross during total green time in a period; Arrival on green is on how many vehicles pass the stop line duration green timing;
	Volume counts the amount of vehicles passing over in a period.">
	<i class='glyphicon glyphicon-info-sign'></i>
	</a>   
	
	{# onchange means when select option is changed, we will call function performanceChanged() in javascript #}
	<select id="performanceSelectionId" name ="performance" class="form-control" onchange="performanceChanged()">
	    {% for measure in measuresList %}
		{% if measure == selectedPerformance %}
		    <option value= {{measure}} selected="selected"> {{measure}} </option> 
		{% else %}
		    <option value= {{measure}}> {{measure}} </option> 
		{% endif %}
	    {% endfor %}
	    performanceChanged()
	</select>
			
	{# Select intersection #}
	<p>
	<label for="location">Intersection </label>
	<select id="intersectionSelectionId" name="location" onchange="intersectionChanged()" class="form-control">
	{% for locationName in locationNameList %}
	    {% if locationName == selectedLocation %}
		<option value= {{locationName}} selected="selected"> {{locationName}} </option> 
	    {% else %}
		<option value= {{locationName}}> {{locationName}} </option> 
	    {% endif %}
	{% endfor %}
	</select> 
	</p>
	
        <p>  
	<button type="button" class="btn btn-info" onclick="showLocationMap()">map</button>
	</p>
	
	{# Selct signalGroup #}
	{% if not sgNameList  %}
	    <p> Sorry, there is no valid signalGroup configuration data in the selected intersection. Please choose other intersections. </p>
	{% else %}
	    <p>
	    <label id="signalGroupLabelId" for="signalGroup">Signal group</label>
	    
	    <select id="signalGroupSelectionId" name="signalGroup" onchange="signalChanged()" class="form-control">
		{% for signalGroup in sgNameList %}
		    {% if signalGroup == selectedSgName %}
			<option value = {{signalGroup}} selected="selected">{{signalGroup}} </option>
		    {% else %}
			<option value = {{signalGroup}}> {{signalGroup}} </option>
		    {% endif %}
		{% endfor %}
	    </select>
	{% endif %}
	</p>
	
	
	{# Selct detector #}
	{% if sgNameList  %}
	    <p>
	    {% if not detectorList  %}
		<p> Sorry, there is no valid detector configuration data in the selected signal group. Please choose other signal group. </p>
	    {% else %}
		<label id="detectorLabelId" for="detector">Detector</label>
		<select id="detectorSelectionId" name ="detector" class="form-control" >
		{% for detector in detectorList %}
		    {% if detector == selectedDetector %}
		        <option value ={{detector}} selected="selected">{{detector}}</option>
		    {% else %}
		        <option value = {{detector}}>{{detector}}</option>
		    {% endif %} 
		{% endfor %}
		</select> 
	    {% endif %}
	    </p>
	{% endif %}
	
	{# multiple select detectors #}
	<label id="detectorMultipleLabelId" for="detectors[]" > Multiple choice of detectors <em>(Ctrl + click)</em> </label>
	{% if sgNameList %}
	    <p>
	    <select id = "detectorMultipleSelectionId" name = "detectors[]" class="form-control" multiple ="multiple" size ="5">
		{% for detector in detectorListInSelectedLocation %}
		
                    {% if detector in selectedDetectorList %} 
			<option value = {{detector}} selected="selected">{{detector}}</option>
		    {% else %}
		        <option value ={{detector}}> {{detector}} </option>
		    {% endif %}

		{% endfor %}
	    
	    </select> 
	    </p>
	{% endif %}
	
	{# Select timeInterval #}
	<label id = "timeIntervalLabelId" for="timeInterval"> Time interval (minutes) </label>
	<select id="timeIntervalSelectionId" name="timeInterval" class="form-control" >
	{% for timeInterval in timeIntervalList%}
	    {% if timeInterval = selectedTimeInterval %}
	        <option value = {{timeInterval}} selected="selected">{{timeInterval}}</option>
	    {% else %}
	        <option value = {{timeInterval}}> {{timeInterval}} </option>
	    {% endif %}
	{% endfor %}
	
	</select>
	                
	{#select datatime #}
	<br>
	<div class="form-group">
	    <label> Start datetime </label>
		<div class='input-group date'>
		{% if startTimeString %}
		    <input id="startdatetimepicker" type='text' class="form-control" name="starttime" value="{{startTimeString}}" required="required"
            data-validation="length" data-validation-length="16"
            data-validation-error-msg="Please give the date in valid format 'd.m.Y H:i'."/>
		{% else %}
		    <input id="startdatetimepicker" type='text' class="form-control" name="starttime" required="required"
		    data-validation="length" data-validation-length="16"
            data-validation-error-msg="Please give the date in valid format 'd.m.Y H:i'."/>
		{% endif %}
		    <span class="input-group-addon">
			<span class="glyphicon glyphicon-calendar"></span>
		    </span>
		</div>
	</div>
	<div class="form-group">
	    <label> End datetime </label>
		<div class='input-group date'>
		    {% if endTimeString %}
			<input id="enddatetimepicker" type='text' class="form-control" name="endtime" value="{{endTimeString}}" required="required"
            data-validation="length" data-validation-length="16"
            data-validation-error-msg="Please give the date in valid format 'd.m.Y H:i'."/>
		    {% else %}
            <input id="enddatetimepicker" type='text' class="form-control" name="endtime" required="required"
            data-validation="length" data-validation-length="16"
            data-validation-error-msg="Please give the date in valid format 'd.m.Y H:i'."/>
		    {% endif %}
		    <span class="input-group-addon">
			<span class="glyphicon glyphicon-calendar"></span>
		    </span>
		</div>
	</div> 

	<p>
	<a href="#" id="timezonetip"  data-toggle="popover" data-trigger="hover" title="" data-content="Please use timezone Europe/Helsinki" >
	<i class='glyphicon glyphicon-info-sign'></i>
	</a>   
	</p>

	{# submit button #}
	<br>
	<button onclick="submitToPlot()" class="btn btn-primary">
	{% bootstrap_icon "star" %} Submit
	</button>

	<input id="refreshTypeId" type="hidden" name="refreshType" value="">

    </form>
    </div>

    {# Plot result #}
    <div class="col-sm-6">
	{% load staticfiles %}
	<img src="data:image/png;base64,{{ image }}">    
	<br>
	Analysis result <a href="{% static "traffic/result.csv" %}">Download CSV File</a>   

    </div>
    </div>

    <div class="row">
    <div class="col-sm-4">
    </div>

    {# show csv file of result #}
    <div class="col-sm-5">
    {% load staticfiles %}
    <iframe style = "width:600px;" src="{% static "traffic/result.txt" %}"></iframe> 
    </div>
    </div>
    <br>
    
    {# display the map of the intersection #}
    <div class="row">
	<div class="col-sm-8">
	{% load staticfiles %}
	<img src="{% static "traffic/"|add:selectedLocation|add:".png" %}">
	</div>
    </div>

    <script src="/static/jquery.datetimepicker.full.js"></script>
    <script>
$('#startdatetimepicker').datetimepicker({
    dayOfWeekStart : 1,
    lang:'en',
    format:'d.m.Y H:i',
    formatDate:'d.m.Y H:i',
    step:15,
    weeks:true,
    onShow:function( ct ){
        this.setOptions({
            maxDate:$('#enddatetimepicker').val()?$('#enddatetimepicker').val():false
        })
    },
});
$('#enddatetimepicker').datetimepicker({
    dayOfWeekStart : 1,
    lang:'en',
    format:'d.m.Y H:i',
    formatDate:'d.m.Y H:i',
    step:15,
    weeks:true,
    onShow:function( ct ) {
        this.setOptions({
            minDate:$('#startdatetimepicker').val()?$('#startdatetimepicker').val():false
        })
    },
});
    </script>

    <script src="/static/form-validator/jquery.form-validator.min.js"></script>
    <script>
$.validate({
    onError : function($form) {
    },
    onSuccess : function($form) {
    },
});
    </script>

    <script>
$.noty.defaults = {
    layout: 'top',
    theme: 'imtech', // or 'defaultTheme' or 'relax' or 'bootstrapTheme'
    type: 'alert',
    text: '', // can be html or string
    dismissQueue: true, // If you want to use queue feature set this true
    template: '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
    animation: {
        open: {height: 'toggle'},
        close: {height: 'toggle'},
        easing: 'swing',
        speed: 500 // opening &amp; closing animation speed
    },
    timeout: 5000, // delay for closing event. Set false for sticky notifications
    force: false, // adds notification to the beginning of queue when set to true
    modal: false,
    maxVisible: 5, // you can set max visible notification for dismissQueue true option,
    killer: false, // for close all notifications before show
    closeWith: ['click'], // ['click', 'button', 'hover', 'backdrop'] // backdrop click will close all notifications
    callback: {
        onShow: function() {},
        afterShow: function() {},
        onClose: function() {},
        afterClose: function() {},
        onCloseClick: function() {},
    },
    buttons: false // an array of buttons
};
    </script>
    </body>
</html>