<html>
<head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <!--<link href="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/css/bootstrap.css" rel="stylesheet"> -->
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!--<script src="/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-tooltip.js"></script>  -->
        <!--<script src="/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-popover.js"></script>-->
        <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
    {# Navigate bar and a header #}
    <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'traffic:index' %}">Imanalyst</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="http://www.tutorialrepublic.com" target="_blank">Instruction</a></li>-->
                    <li><a href="http://www.peekfinland.fi/" target="_blank">About</a></li>
                    <li><a href="http://imtech.com/EN/Contacts-Nordic.html" target="_blank">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container-fluid">
            <h1>Instruction of measures</h1>
        </div>
    </div>
<div class ="col-sm-1"></div> 
<div class = "col-sm-9">
<p><b>Saturation Flow Rate</b>It eastimates saturation flow rate, the number of vehicles per hour that could cross the line if number of vehicles remained grren all the time.  It is achieved by introducing the idea of lost time and effective green time.
The implementation is based on an assumption that the initial queue at the start of green is at least ten vehicles long. The first few vehicles are excluded because the transient effect of starting up the queue.
Vehicles beyond the tenth are exclude because they may represent the arrival rate instead of the departure rate. This ideal condition is hard to satisified by real data. </p>

<p><b>Green duration:</b> it shows green duration of every signal group in the selected intersection during specified time span. </p>

<p><b>Queue length:</b> it estimates the amount of vehicles and length of every queue according to selected detector during specified time span. </p>

<p><b>Active green:</b> It counts the active green time of signal group when there is any detector associated with the signal occupied, compared with passive green in every cycle during specified time span. </p>

<p><b>Maximum capacity:</b> It estimates the maximum amount of vehicles being able to pass by the detector in a specified time interval (i.e. every 5 minutes, 20 minutes and I hour). </p>

<p><b>Arrival on green:</b> it calculates the percentage of vehicles arriving the specified detector during green duration, comparing the number of vehicles arriving on green with the number of all the vehicles in specified time interval. </p>

<p><b>Volume:</b> It measures the number of vehicles passing by the detector in specified time interval, which indicates the traffic flow changes on a location in different time span. </p>
</div>

</body>

</html>