<html>
<head>
<h1>Instruction of traffic performance measures</h1>
</head>

<body>

<p><b>Green duration:</b> it shows green duration of every signal group in the selected intersection during specified time span. </p>

<p><b>Queue length:</b> it estimates the amount of vehicles and length of every queue according to selected detector during specified time span. </p>

<p><b>Active green:</b> It counts the active green time of signal group when there is any detector associated with the signal occupied, compared with passive green in every cycle during specified time span. </p>

<p><b>Maximum capacity:</b> It estimates the maximum amount of vehicles being able to pass by the detector in a specified time interval (i.e. every 5 minutes, 20 minutes and I hour). </p>

<p><b>Arrival on green:</b> it calculates the percentage of vehicles arriving the specified detector during green duration, comparing the number of vehicles arriving on green with the number of all the vehicles in specified time interval. </p>

<p><b>Volume:</b> It measures the number of vehicles passing by the detector in specified time interval, which indicates the traffic flow changes on a location in different time span. </p>


</body>
</html>