<!DOCTYPE html>
<html>
    {% load staticfiles %}
<head>
        <meta charset="utf-8">
        <meta name="Author" content="Imtech Traffic & Infra Oy" />
        <meta name="Robots" content="noindex,nofollow" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <title>Traffic Signal Analysis</title>
</head>

<body>

    <div>
      <div style="height: 55px; width: 1600px; overflow: hidden; padding-left: 0px; padding-top: 0px;">
        <div style="float: left; margin-left: 0px;">
         <div style="height: 55px; width=1600px; overflow: hidden; padding-left: 0px; padding-top: 0px;">
           <div style="height: 55px; width: 207px; overflow: hidden; float: left; padding-left: 0px; padding-top: 0px;">
             <div style="float: left; margin-left: 0px;">
               <img src="{% static "companyLogo.png" %}" style="width: 207px; height: 55px;">
             </div>
           </div>
           <div style="height: 55px; width: 1393px; overflow: hidden; float: left; padding-left: 0px; padding-top: 0px;">
             <div style="float: left; margin-left: 0px;">
               <img src="{% static "banner.jpg" %}" style="width: 100%; height: 55px;">
             </div>
           </div>
           <div style="width: 0px; height: 0px; clear: both; overflow: hidden;"></div>
         </div>
        </div>
      </div>
    </div>

    <div class="jumbotron">
        <div class="container-fluid" style="height:20px">
            <div style="padding-top: 0px; position:absolute; top:45px" ><h1>Traffic Signal Analysis</h1></div>
            <br>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../traffic/index">Home</a>
                <a class="navbar-brand" href="#">Help</a>
            </div>

        </div>
    </div>    
    
<div class ="col-sm-1"></div> 
<div class = "col-sm-9">

<h2>Green duration</h2>

<h3>Definition</h3>

<p style="font-size:18px">The time duration of every external state green sequence from a signal group.  </p>

<h3>Explanation</h3>

<p style="font-size:18px">The function calculates green duration per cycle. Multi curve lines represent all the signals at the selected intersection. 
Two measures serve the performance, which are <q> Green duration </q> and <q> Percentage of green duration</q>. 
Green duration calculates green timing in seconds and another calculates the percentage of green per cycle or per interval.
 </p> 

<p style="font-size:18px"> Green duration can be measured as exact timing in every green phase level or as cumulative timing in certain time interval. It depends on which time interval you select.
If you would like to check green timing in every phase, please select 'None' on time interval dropdown list; if you would like to check the timing in a wider time span, 
it had better to define a suitable time interval. </p> 

<h3>Illustration</h3>

<p style="font-size:18px">The following image demonstrates the precise green duration in every phases without timeinterval in intersection TRE303 from 14:00 to 14:40 on 10th, July, 2015.  </p>

<img src="{% static "traffic/Illustration/greenduration.png" %}"/>

<br></br>

<h2>Active green</h2>

<h3>Definition</h3>

<ol>

<li style="font-size:18px">From general knowledge, it is defined that active green is the green timing from green start time to the time when last vehicle comes. oppositely, 
passive green is the green timing after the last vehicle comes until the end of green.</li>

<li style="font-size:18px">From internal state of signal group (grint) from traffic signal controller, 
the active green timing is to the contrary of passive green timing during a green sequence. Passive green is green timing when the internal state of signal is <q>PASSIVE_GREEN</q> </li>

</ol> 

<h3>Explanation</h3>

<p style="font-size:18px"> The function calculates active green length per cycle of the selected signal, 
comparing its timing of passive green based on the two different definitions. This stacked bar chart shows proportion of both active green and passive green.
The x-axis is actual time of a day, and y axis is time duration in seconds.</p>

<p style="font-size:18px">The upper chart is for definition-1, every bar represent length of an entire green sequence. 
During <q>active green</q> (dark green), there is request received by any associated detector. Conversely, during <q>passive green</q> (light blue), 
no detector is occupied at all.  </p>

<p style="font-size:18px">The second chart is for definition-2, red part means grint-active green timing when signal state are included in
active green state. And yellow part is for the time duration when the signal state is <q>PASSIVE_GREEN</q>. </p>

<h3>Illustration</h3>

<p style="font-size:18px">The following image shows the result of this measure for signal group B at intersection TRE309 in Tampere from 18:00 to 19:00 on 10th, July, 2015. </p>

<img src="{% static "traffic/Illustration/activegreen.png" %}"/> 

<br></br>

<h2>Queue length</h2>

<h3>Definition</h3>

<p style="font-size:18px">At signalized intersections, queue lengths is the queue of vehicles at the end of red time (red -end) by lanes according to detectors.  </p>

<h3>Explanation</h3>

<p style="font-size:18px">This measure calculates the length of queue in meters and the amount of vehicles forming the queue at the end of red time. 
Queue length could be presented with or without time interval. If you would like to see the value of every queue, please select<q>None</q> time interval.
While selecting an actual interval, the average queue in interval will be shown in bar, and maximum queue in every period will be shown on a red curve line with <q>*</q> markers.  
The plot of this measure has dual y-axis. The left y-axis is number of vehicles and right y-axis is length of queue in meters, 
while x-axis is actual time of a day, indicating when the red time ends.  </p>

<h3>Illustration</h3>

<p style="font-size:18px">The following image shows the result of this measure via detector A60_2 under controlling of signal group A 
at intersection TRE303 in Tampere from 18:00 to 19:00 on 10th, July, 2015. </p>

<img src="{% static "traffic/Illustration/queuelength.png" %}"/> 

<p style="font-size:18px">The next graph shows average queue and its maximum value in every period </p>

<img src="{% static "traffic/Illustration/queuelengthininterval.png" %}"/> 

<br></br>

<h2>Saturation flow rate</h2>

<h3>Definition</h3>

<p style="font-size:18px">The saturation flow rate crossing a signalized stop line is defined as the number of vehicles per hour 
that are able to cross the line if the signal remained green all of the time.   </p>

<h3>Explanation</h3>

<p style="font-size:18px">It estimates the saturation flow rate for each lane controlled by the selected signal group at intersections using real data. 
The algorithm requires real data satisfy a high restrict with a relative long traffic flow.
Hence, according to some selections, the result returns null because no data satisfy the calculation conditions.
As to the plot, x-ticks are the names of detectors associated to the specified signal group, y-axis shows the number of vehicle.    </p>

<h3>Illustration</h3>

<p style="font-size:18px">The following images illustrates saturation flow rate for lanes associated with signal group B at intersection TRE303 in Tampere. </p>

<img src="{% static "traffic/Illustration/saturationflowrate.png" %}"/> 

<br></br>

<h2>Maximum capacity</h2>

<h3>Definition</h3>

<p style="font-size:18px">Maximum capacity is defined as the maximum number of vehicles can be reasonably expected to traverse a point 
or a uniform segment of a lane or roadway during a given time period under prevailing roadway, traffic control conditions.   </p>

<h3>Explanation</h3>

<p style="font-size:18px">This measure calculates the total number of vehicles could pass over the specified detector during the sum of green timing 
in a certain time period (5 minutes, 10 minutes and 1 hour etc.).  Maximum capacity is positive correlated with saturation flow rate on a lane and green time in a period of a signal group. 
As to the plot on this measure, the x-coordination of the green solid diamonds is actual starting time of every time interval, and its y-coordination indicates the number of vehicles. 
The dashed line passes through all diamonds by time to show the trend of maximum capacity.    </p>

<h3>Illustration</h3>

<p style="font-size:18px">The following image shows maximum capacity every other 30-minute interval at detector B60 belonging to signal group B 
at intersection TRE303 in Tampere from 6:00 AM to 8:00 PM on 10th, July, 2015. The range of number of vehicles at y-axis is from 440 to 560.</p>

<img src="{% static "traffic/Illustration/maximumcapacity.png" %}"/> 

<br></br>

<h2>Volume</h2>

<h3>Definition</h3>

<p style="font-size:18px">Traffic volume is the procedure to determine mainly the volume of traffic moving on the roads at a particular point or a uniform segment
during a particular time period.  </p>

<h3>Explanation</h3>

<p style="font-size:18px">This measure counts the total number of vehicles could pass over the specified detector on a lane during a certain time period 
(5 minutes, 10 minutes and 1 hour etc.). Besides, if the selected detector to measure has paralleled detectors on other lanes,
the function counts the volume on each lane separately and summate them as stacked bars. Thus, the traffic volume of each lane in a direction is shown directly with comparison among lanes.
The x-coordination of bars is the starting time of intervals and y-axis indicates traffic volume. </p>

<h3>Illustration</h3>

<p style="font-size:18px">The following image demonstrates that traffic volume per 10 minutes on lane-1 and lane-2 of the direction controlled by signal group A 
at the place with 60-meter distance to intersection stop line from 18:00 to 20:00 on 10th, July, 2015 at intersection TRE303 in Tampere.</p>

<img src="{% static "traffic/Illustration/volume.png" %}"/> 

<br></br>

<h2>Arrival on green percent</h2>

<h3>Definition</h3>

<p style="font-size:18px">Arrival during green is defined as vehicles arriving at intersection stop bar during green time. </p>

<h3>Explanation</h3>

<p style="font-size:18px">The percentage of arrival during green is the value that number of vehicles arriving on green divides the traffic volume detected 
by a particular detector in a time period (5 minutes, 10 minutes and 1 hour etc.). It is a useful traffic performance to indicate the efficiency of traffic signal
control and deduce the density of traffic flow. As to the plot on this measurement, the x-axis is the start date and time of every interval, and y-axis shows the percentage. 
Two functions support this feature: Arrival on green by single detector and Comparison of arrival on green by multiple detectors. </p>

<h3>Illustration</h3>

<p style="font-size:18px">The following image demonstrates that the percent of arrival during green changes over time via detector A60_2 at intersection TRE303 
in Tampere from 6:00 to 18:00 on 10th, July. The time interval for counting vehicle is 5 minutes. </p>

<img src="{% static "traffic/Illustration/arrivalongreenpercent.png" %}"/> 

<br></br>
<p style="font-size:18px">The second image shows the result of comparison based on customized choice.  </p>

<img src="{% static "traffic/Illustration/comparisonarrivalongreen.png" %}"/> 
<br></br>

<h2>Comparison of arrival during green ratio </h2>

<h3>Definition</h3>

<p style="font-size:18px">Arrival during green is defined as vehicles arriving at intersection stop bar during green time. 
The ratio is another measure from different dimensions related to arrival during green.</p>

<h3>Explanation</h3>

<p style="font-size:18px">The ratio of arrival during green is used to mine the relation between volume and arrival on green performance without time factor.
As to the plot on this measurement, the x-axis is number of volume and y-axis shows the number of vehicle on green.
The function can compare the performance in different directions. The color of dots indicate the value in different place.  </p>

<h3>Illustration</h3>

<p style="font-size:18px">The following image is the comparison of arrival during green ratio from different places by 10 minutes interval From 14:00 to 18:00 on 10, July, 2015. </p>

<img src="{% static "traffic/Illustration/comparisonarrivalongreenratio.png" %}"/> 

<br></br>

    <div style="color: #666; text-align: center;">
       <p>&#169; 2015 Imtech Traffic &#38; Infra Oy<br/></p>
    </div>

</div>

<div class ="col-sm-2"> 

<h2>Download</h2>
<a href="../traffic/download_user_manual">User manual</a> 
</div>

</body>

</html>